/* Gallery CSS */
#block-views-block-gallery-gallery .item-list-wrapper {
	opacity:0;
	transition:opacity .3s ease-in-out;
}
#block-views-block-gallery-gallery .item-list-wrapper.ready {
	position:relative;
	padding-bottom:40px;
	opacity:1;
}
#block-views-block-gallery-gallery .next,
#block-views-block-gallery-gallery .prev {
	position:absolute;
	height:40px;
	width:50%;
	bottom:0;
	background:#FF0000;
	color:#FFF;
	vertical-align:middle;
	line-height:28px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	padding:6px;
}
#block-views-block-gallery-gallery .next {
	right:0;
	text-align:right;
}
#block-views-block-gallery-gallery .next:before {
	content: "Next";
}
#block-views-block-gallery-gallery .prev {
	left:0;
	text-align:left;
}
#block-views-block-gallery-gallery .prev:before {
	content: "Previous";
}
#block-views-block-gallery-gallery .item-list-wrapper .type-gallery-image.init {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	background-color:#f4f4f4;
	opacity:0;
	transition:opacity .5s ease-in-out;
}
#block-views-block-gallery-gallery .item-list-wrapper .type-gallery-image.init.active {
	opacity:1;
}
.type-gallery-image.init .images {
	position:relative;
	font-size:0;
	padding-top:30%;
}
.type-gallery-image.init .before,
.type-gallery-image.init .after {
	height:100%;
	width:50%;
	margin:0;
	position:absolute;
	top:0;
	background-size:cover;
	background-position:center;
	background-repeat:no-repeat;
}
.type-gallery-image.init .before {
	left:0;
}
.type-gallery-image.init .after {
	right:0;
}
.type-gallery-image.init .before:before,
.type-gallery-image.init .after:before {
	display:block;
	position:absolute;
	top:0;
	color:#FFF;
	background:#000;
	padding:6px;
	font-size:1rem;
}
.type-gallery-image.init .before:before {
	left:0;
	content: "Before";
}
.type-gallery-image.init .after:before {
	right:0;
	content: "After";
}
.type-gallery-image.init .information {
	padding:10px;
}
#block-views-block-gallery-gallery .form-content {
	margin-bottom:20px;
}
#block-views-block-gallery-gallery .form-item,
#block-views-block-gallery-gallery .form-actions {
	display:inline-block;
}