<!DOCTYPE HTML>
<html lang="en-us">
    <head>
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>Smileshoppe.com is down for maintenance</title>
	</head>
    <body>
		<div class="page cf coming-soon">
			<img src="/themes/custom/smileshoppe/img/logo-w-name.png" alt="Smileshoppe" />
			<p>Coming soon!<br />To schedule an appointment call (319) 752-1600.</p>
		</div>
    </body>
</html>